#project_content h1 {
	font-size: 3.2em;
}

#project_content h5 {
	margin: 1px;
	margin-bottom: 5px;
}

#project_content .search-result-section {
	margin: 20px;
	padding: 10px;
}

#project_content .form-message {
	font-size: 0.8em;
}

#project_content .search_location {
	font-size: 14px;
	margin-left: 22px;
}

#project_content a {
	position: relative;
	margin-left: 22px;
}

#project_content a .fa {
	position: relative;
	top: 1px;
}

#id_topic_trends {
	margin: 0 auto;
}

#project_content #id_trends_loader{
	width: 100px;
	margin: 10px auto;
	padding: 20px;
}

#project_content .loader-inner > div {
    background: #AFEEEE;
}

#project_content a {
	text-decoration: none;
}

#id_div_topic_likes {
	margin-right: 30px;
}

#project_content ul {
	margin-left: 0;
	padding-left: 0;
}

#project_content li {
	list-style: none;
	margin-left: 5px;
	padding-left: 0;
}