#project_content h1 {
	font-size: 3.2em;
}

#project_content h5 {
	margin: 1px;
	margin-bottom: 5px;
}

#project_content .search-result-section {
	margin: 20px;
	padding: 10px;
}

#project_content .form-message {
	font-size: 0.8em;
}

#project_content .search_location {
	font-size: 14px;
	margin-left: 22px;
}