{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Topic Search{% endblock title %}

{% block content %}
<div class="row jumbotron">
    <h1 class="text-center">Search Topic Here</h1>
    <br>

    <form id="id_form_topic_search" action="{% url 'topic_search:search_result' %}" method="GET">
        <div class="form-group">
            <input type="text" name="term" class="form-control" id="id_tb_search_term" placeholder="Search Term">
        </div>
        <div class="checkbox">
            <label>
                <input id="id_cb_geo_search" name="geo-search" type="checkbox"> Limit result to those near me
            </label>
        </div>
        <input id='id_btn_search_go' type="submit" class="btn btn-primary" value="Search"/>

        <input id="id_input_lat" type="hidden" name="lat" value="">
        <input id="id_input_lng" type="hidden" name="lng" value="">

        <div class="form-message">
            <p id="id_form_message_error" class="text-danger"></p>

            <p id="id_form_message_muted" class="text-muted"></p>
        </div>
    </form>
    <div id="id_search_loader" class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Most Searched:</h3>
        {% if top_searches %}
        <ul>
            {% for topic in top_searches %}
                <li><a href="{% url 'topic_search:search_result' %}?term={{ topic.name }}">{{topic.name}} <span class="label label-primary">{{topic.num_of_search}}
                    <span class="fa fa-search"></span></span></span></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-3">
        <h3>Most Liked:</h3>
        {% if top_likes %}
        <ul>
            {% for topic in top_likes %}
                <li><a href="{% url 'topic_search:search_result' %}?term={{ topic.name }}">{{topic.name}} <span class="label label-success">{{topic.likes}}
                    <span class="fa fa-thumbs-o-up"></span></span></span></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Currently Hot Topics in US:</h3>
        <br>

        <div id="id_trends_loader" class="loader-inner ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="id_topic_trends"></div>
    </div>
</div>
<p id="id_trend_message_error" class="text-danger"></p>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src='{% static "js/topic_search_home.js"%}'></script>
{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

